/*Puts red boxes around boxes
  take out before completion*/
/*{
  border: 1px solid red !important;
}

/*contains boxes inside the ultimate size*/

@import url('https://fonts.googleapis.com/css?family=Roboto|Titillium+Web');
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

*{
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  -ms-box-sizing: border-box;
}


body {
  width: 100%;
  min-width: 300px;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;

}

h3, p {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  display: inline;
  margin: 2.5px;
  font-size: 1.5em;
  padding: 5px;
}

.head {
  border-bottom: 5px solid black;
  margin-bottom: 5px;
}

.globe{
  font-size: 6.5em;
  margin: 0px;
}

.hero {
  margin: 7px;
}

@media only screen and (max-width: 770px) {
  .hero {
    margin: 5px;
  }
}

@media only screen and (max-width: 430px) {
  .col-xs-6 {
    width: 100%;
    text-align: center;
  }
}

.jumbo {
  width: 100%;
}

.image {
  max-height: 200px;
  object-fit: cover;
  overflow: hidden;
  max-width: 100%;
}

.projects {
  text-align: center;
}

.center {
  text-align: center;
  display: block;
}

.border {
  border-top: 1px solid black;
}

/* zocial */
[class*="fontawesome-"]:before {
  font-family: 'fontawesome', sans-serif;
}
